#table_user {
  display:block;
  margin:10px 0 0;
  padding:0;
  width:760px;
}
#table_user thead th {
  background-color:#2C4359;
  color:#FF9500;
  height:30px;
}
#table_user tbody {
  border-spacing:0;
}
#table_user thead th span {
  color:#FF9500;
  font-family:Helvetica,Arial,sans-serif;
  font-size:12px;
  margin-left:5px;
}
#table_user tbody td {
  height:50px;
  text-align:center;
}
#table_user tbody p, .page_number, .prev, .next {
  color:black;
  font-family:Helvetica,Arial,sans-serif;
  font-size:12px;
  line-height:150%;
  padding-left:5px;
  padding-right:0;
  text-decoration:none;
}
.prev.click_not_able, .next.click_not_able {
  color:silver;
  cursor:default;
}
#table_user tbody a {
  color:black;
  font-family:Helvetica,Arial,sans-serif;
  font-size:12px;
  line-height:150%;
  text-decoration:none;
}
.page_number {
  font-size:13px;
  margin-left:1px;
  margin-right:1px;
}
.pager {
  margin-top:10px;
}
.pager .active {
  color:#FF9500;
  font-size:13px;
  font-weight:bold;
}
.sort_arrow, .sort_arrow_asc, .sort_arrow_desc {
  background:url("../gfx/arrow_sort.png") no-repeat scroll -14px 0 transparent;
  display:block;
  height:11px;
  margin-top:2px;
  padding:0;
  width:7px;
}
.sort_arrow_asc {
  background:url("../gfx/arrow_sort.png") no-repeat scroll -7px 0 transparent;
}
.sort_arrow_desc {
  background:url("../gfx/arrow_sort.png") no-repeat scroll 0 0 transparent;
}
#table_user .odd {
  background-color:white;
}
#table_user .even {
  background-color:#FAFAFA;
}
#table_user tr.ui-selected {
  background-color:#E2E9F0;
}
#table_user img {
  border:0 solid #DDDDDD;
  margin:3px;
}
#table_user button {
  margin-left:0;
}
.click_able {
  cursor:pointer;
}
.filter {
  text-align:center;
}
.filter input {
  height:22px;
  width:40px;
}
.recipient_name {
  padding-top:0;
}
.yellow {
  color:#FF9500;
  cursor:pointer;
  font-style:italic;
}
.yellow:hover {
  text-decoration:underline;
}